<!DOCTYPE html>
<html lang="en">
<head>
  <title>Medicine List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#bedbbb;">
    <br>
    <br>
<center>
<div class="container">
<h2>Medicine list</h2>  
<br><br>
  <table border="1" id="tbl" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
                    <th>Id</th>
                    <th>Medicine Name</th>
                    <th>Price</th>
                    <th>Company Name</th>					
          					<th>Available Quantity</th>
          					<th>Type</th>
                    <th>Action</th>

					
      </tr>
    </thead>
    <tbody>
        <% 
        users.forEach( function(std){ %>
        <tr>
            <td><%= std.id %></td>
            <td><%= std.name %></td>
            <td><%= std.unitprice %></td>
            <td><%= std.VendorName %></td>
            <td><%= std.quantity %></td>
            <td><%= std.Type %></td>
           
            <td>
                 <a href="buy/<%= std.id %>">Buy Product</a> 
              
            </td>
        </tr>
    <%
        }); 
    %>
    </tbody>
  </table>
</div>
</center>
<center>
    <a class="text-info" href="/userhome">Back</a>



</center>

</body>
</html>


